In [2]:
#Populate Comment table with binary Sentiment

In [1]:
import json
import sqlite3
import urllib
import time
import requests
from textblob import TextBlob

In [4]:
conn = sqlite3.connect('HRTopDown.sqlite3')
c = conn.cursor()

In [11]:
#All_Comments = cc.execute('SELECT rawtxt FROM RawJSON')
#jsonobjs = textvar.fetchall()
All_Items = c.execute('SELECT * FROM items')
items = All_Items.fetchall()
# [0] = troll_id
# [1] = text
# [2] = id
# [3] = Sentiment
# [4] = Date_created
#UPDATE table_name
#SET column1 = value1, column2 = value2, ...
#WHERE condition;

In [24]:
for item in items:
    if item[3] > 0:
        is_salty = 0
    else:
        is_salty = 1
    c.execute('INSERT INTO Comments (comment_uuid, troll_name, is_salty, text, date_created) VALUES (?,?,?,?,?)',[item[2],item[0],is_salty,item[1],item[4]])

In [25]:
conn.commit()

In [15]:
#troll_list = c.execute('SELECT troll_name FROM trolls')
#trolls = troll_list.fetchall()

In [16]:
#troll_names = list()

In [17]:
#for troll in trolls:
#    troll_names.append(troll[0])

In [22]:
#t_items = c.execute('SELECT ')

3039

In [ ]:
#for troll in troll_names:
#    troll_comments =

In [23]:
#for item in jsonobjs:
#    if item[0] == 'null':
#        continue
#    itemobj = json.loads(item[0])
#    if 'text' not in itemobj:
#        continue
#    if 'type' not in itemobj:
#        continue
#    if itemobj['type'] != 'comment':
#        continue
#    if itemobj['by'] not in troll_names:
#        continue
#    cc.execute('INSERT INTO items (troll_id, text, id) VALUES (?,?,?)', [itemobj['by'], itemobj['text'], itemobj['id']])
#    connc.commit()