In [1]:
import json
import sqlite3
import urllib
import time
import requests
from textblob import TextBlob

In [2]:
conn= sqlite3.connect('HRTopDown.sqlite3')
c = conn.cursor()

In [3]:
All_Comments = c.execute('SELECT * FROM Comments')
Comments = All_Comments.fetchall()

In [4]:
troll_list = c.execute('SELECT DISTINCT * FROM trolls')
trolls = troll_list.fetchall()

In [5]:
#    cc.execute('INSERT INTO items (troll_id, text, id) VALUES (?,?,?)', [itemobj['by'], itemobj['text'], itemobj['id']])
#    connc.commit()
#conn.close()

In [6]:
i = 1
for troll in trolls:
    Troll_Comments = c.execute('SELECT * FROM Comments WHERE troll_name = ? ', [troll[0]])
    #print(len(Troll_Comments.fetchall()))
    troll_comments = Troll_Comments.fetchall()
    total_comments = len(troll_comments)
    salty_comments = 0
    for tcomm in troll_comments:
        if tcomm[2] == 1:
            salty_comments = salty_comments + 1
    if total_comments == 0:
        continue
    rank = salty_comments/total_comments
    c.execute('INSERT INTO Troll (troll_name, date_created, salty_rank, salty_comments, comments_total) VALUES (?,?,?,?,?)', [troll[0],troll[1],rank, salty_comments, total_comments])
#    i = i + 1
#    if i == 10:
#        break
conn.commit()

In [8]:
#conn.close()
conn.commit()

In [23]:
for item in jsonobjs:
    if item[0] == 'null':
        continue
    itemobj = json.loads(item[0])
    if 'text' not in itemobj:
        continue
    if 'type' not in itemobj:
        continue
    if itemobj['type'] != 'comment':
        continue
    if itemobj['by'] not in troll_names:
        continue
    cc.execute('INSERT INTO items (troll_id, text, id) VALUES (?,?,?)', [itemobj['by'], itemobj['text'], itemobj['id']])
    connc.commit()