In [1]:
import json
import sqlite3
import urllib
import time
import requests

In [2]:
connb = sqlite3.connect('HRTopDownNewData0.sqlite3')
cb = connb.cursor()

In [5]:
num_comments = cb.execute('SELECT submitted FROM trolls')#WHERE ID = 21500000'')
num_comments = num_comments.fetchall()

In [14]:
for comment in num_comments:
    num_items = comment[0].split(',')
    cb.execute('UPDATE trolls SET comments_total = (?) WHERE Submitted = ?', [len(num_items), comment[0]])
    #cb.execute('INSERT INTO trolls (comments_total) VALUES (?) WHERE Submitted = comment[0]', [len(num_items)])
    connb.commit()